<div class="container">
  <form [formGroup]="customerForm" (ngSubmit)="showCustomer()">
    <div class="row">
      <label>Cliente</label>
      <input type="text" formControlName="name">
    </div>
    <div class="row">
      <label>CIF</label>
      <input type="text" formControlName="cif">
    </div>
    <div class="row">
      <label>City</label>
      <input type="text" formControlName="city">
    </div>
    <div class="row-button">
      <button type="submit">Añadir</button>
    </div>
    
  </form>
</div>
<!-- hay que quitar todo lo que hay en app.component.html -->
